body{
    background-image: url('../assets-bootstrap/squares_gray.png');
}
html, body{
    height:100%;
}

.home-img{
    width: 100%;
}

img{
    max-width: 100%;
}

nav img{
    background-color: rgb(256,256,256);
    height: 2.25rem;
    min-height: 2.5rem;
    padding: .25rem;
}

#yourLab{
    background-image: url("../assets-bootstrap/home/your-lab.jpg");
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

#img-about{
    background-image: url("../assets-bootstrap/company/partners.jpg");
}

#img-contact{
    background-image: url("../assets-bootstrap/company/conatct-us.jpg");
}
#img-yourLab{
    height: 50%;
    padding: 1.5rem 0;
}

#coreValues{
    background-color: #70a1c0;
}

#ourTeam-title{
    text-align: center;
    padding-top: 1rem 0;
}

.value{
    color:white;
}

.img-top{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45%;
    padding: 0 !important;
    width: 100%;
}

.text-header{
    background-color: rgba(256, 256, 256, .5);
    padding-left: 2rem;
}

.element{
    padding: 1rem 0;
}

.cards{
    padding: 0 4rem;
}

.card{
    height: 100%;
}

.card-img-top{
    padding: 1rem;
}

.card-text{
    font-size: .675rem;
    text-align: justify;
}

.body-title{
    text-align: center;
}

.row{
    margin: 1rem 0 !important;
}

.companyMission{
    background-color: #eeeeee;
    margin-top: 1rem;
}

.search-btn{
    margin-left: -.5rem;
}

.form-texts{
    margin-left: 1.5rem;
}